.navbar li {
  display: inline-block;
  text-align: center;
}

.navMiddle {
  width: 70%;
  font-weight: bold;
}

.navRight {
  width: 20%;
  font-weight: bold;
}

.navLeft {
  width: 10%;
  font-weight: bold;
}

.navbar {
  background: rgb(240, 10, 10);
}

li {
  color: white;
  padding: 10px 0;
}

body {
  font-size: 25px;
}